.ps-menu-root{
    border: 0.5px solid black;
    border-radius: 10px;
}
.brand{
    background-color: #FF4900;
}
.brand-name{
    font-size: 25px;
    font-weight: bold;
}

.menu li{
    text-decoration: none;
    border: 1px solid #FF4900;
    padding: 10px;
    border-radius-right: 10px;
}